header {
  padding: 10px 15px;
}

.secao-topo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secao-topo img {
  width: 150px;
}

.secao-topo nav a {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  margin: 0 5px;
}