.secao-produtos {
  width: 100%;
  text-align: center;
  padding: 100px 20px;
}

.cards-container-produtos {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-produtos {
  background-color: #f6f6f6;
  width: calc(50% - 15px);
  padding: 20px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-produtos h3 {
  margin: 0;
  font-size: 32px;
}

.card-produtos img {
  width: 80%;
  max-height: 150px;
  margin: 30px auto;
}

.card-produtos p {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

.secao-produtos ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao-produtos ul li {
  text-align: left;
  margin: 5px;
}